@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

/* Global Styles */
body{
    width: 100%;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    /* line-height: 64px; */
    color: #222;
}

h6 {
    font-size: 12px;
    font-weight: 700;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-pl{
    padding: 40px 80px;
}

.section-ml{
    margin: 40px 0;
}

.sidebar {
    width: fit-content;
    background-color: #008080; /* Teal color */
    color: #ffffff; /* Text color */
    height: 100vh;
    overflow-y:auto;

}

.sidebar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.sidebar .item{
    line-height: 40px;
}
  
.sidebar .menu .sub-btn {
    padding: 10px;
}

.sidebar  a {
    color: #ffffff; /* Link color */
    text-decoration: none;
    cursor: pointer;
}  

.sidebar a:hover {
    opacity: 80%;
}

.menu{
    width: fit-content;
}

.sub-menu{
    line-height: 10px;
    background: #008080;
    display: none;
    padding-left: 10px;
    font-size: smaller;

}
.sub-menu a{
    font-size: smaller;
    text-decoration: none;
    color:#fff;
    display: list-item;
    padding: 10px;

}
.sub-menu a:hover{
    opacity: 80%;
}



.rotate{
    transform: rotate(90deg);
}

.item a .dropdown{
    margin: 5px;
    transition: 0.3s ease;
}